@charset "utf-8";
/* CSS Document */
* {
  cursor: url("../img/sb.ico"), auto;
}
body {
  background-image: url("../img/bg01.png");
 min-width: 1280px;
}
/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#nav {}
#nav > ul {
  margin: 0;
}
#nav > ul > li > ul {
  display: none;
}
#nav > ul > li {
  display: inline-block;
  font-style: "楷书";
  margin: 0 0.35em 0 0.35em;
}
#nav > ul > li > a {
  border-radius: 5px;
  color: #5d5d5d;
  text-decoration: none;
  padding: 0.6em 1.2em 0.6em 1.2em;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
  outline: 0;
}
#nav > ul > li:hover {}
#nav > ul > li:hover > a {
  background: #f3f3f3;
}
#nav > ul > li.active {}
#nav > ul > li.active > a {
  background: #f3f3f3;
}
#nav > ul > li.current_page_item {}
#nav > ul > li.current_page_item > a {
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
}
.header {
  align-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.boxone {
  align-content: center;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  background: rgba(127, 127, 127, 0.3);
}
.boxtwo {
  height: auto;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.center {
  text-align: center;
  margin: 0 auto;
}
img {
  max-height: 100%;
  max-width: 100%;
}
p {
  max-height: 100%;
  max-width: 100%;
  font-family: "楷体";
  text-indent: 2em;
}
.card {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background: rgba(0, 0, 0, 0.63);
  font-family: "楷体";
  font-size: 18px;
  color: aliceblue;
  text-align: start;
  text-indent: 2em;
  line-height: 2;
  overflow: hidden;
}
.first {
  font-family: "楷体";
  font-size: 40px;
  color: aliceblue;
  text-align: center;
  text-align: start;
}
hr {
  width: 80%;
  color: #363636;
}
/*第二部分，创建三栏 */
/* 左侧栏*/
.leftcolumn {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 11%;
  background: rgba(127, 127, 127, 0.3);
}
/*中间栏*/
.middlecolumn {
  float: left;
  width: 20%;
  height: auto;
  background: rgba(127, 127, 127, 0.3);
  margin-left: 10%;
}
/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 20%;
  height: auto;
  background: rgba(127, 127, 127, 0.3);
  margin-left: 10%;
}
.boxthree {
  height: 300px;
  width: 100%;
}
.head {
  text-align: center;
  font-family: "宋体";
  font-size: 20px;
}
/*左边栏*/
.left {
  float: left;
  width: 35%;
  height: auto;
  margin-left: 12%;
  background: rgba(127, 127, 127, 0.3);
}
/*右边栏*/
.right {
  float: left;
  width: 35%;
  height: auto;
  background: rgba(127, 127, 127, 0.3);
  margin-left: 10%;
}
.boxfour {
  height: 450px;
}
.boxfive {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  height: 300px;
}
.kuang {
  padding: 10px;
}
.footr {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 35%;
  font-size: 14px;
  font-family: "楷体";
  color: aliceblue;
  align-content: center;
  text-align: center;
}
.footm {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 0%;
  font-size: 14px;
  font-family: "楷体";
  align-content: center;
  text-align: center;
  color: aliceblue;
}
.footl {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 0%;
  font-size: 14px;
  font-family: "楷体";
  color: aliceblue;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:link {
  color: aliceblue;
}
a:hover {
  color: aqua;
}
a:visited {
  color: darkcyan;
}
.boxabout {
  width: 100%;
  height: auto;
  background: rgba(127, 127, 127, 0.3);
  text-align: center;
  align-content: center;
  position: relative;
  margin: 0 auto;
}
.boxaboutfirst {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 500px;
  background: rgba(0, 0, 0, 0.63);
  text-align: start;
  text-indent: 2em;
  line-height: 2;
  overflow: hidden;
}
.text {
  font-family: "楷书";
  font-size: 18px;
  line-height: 2;
  text-align: start;
  text-indent: 2em;
  color: aliceblue;
  padding: 5%;
}
.texthead {
  color: aliceblue;
  font-family: "楷书";
}
.comeback {
  display: block;
  position: fixed;
  margin-left: 97%;
  bottom: 20px;
  width: 2%;
}
