@charset "utf-8";
/* CSS Document */
p{text-indent: 2em;
line-height:1.5;}
/*文字样式*/
.box{width: 96%;background-image:url("../img/bg01.png"); padding:2%; height:100%;}/*中间大盒子*/
.subheader{text-align: center;
	padding: 20px;
	background-image: url("../img/xmbj.png");
	background-attachment: fixed;
	margin-bottom: 10px;
	height: 350px;
	opacity: 0.3;
	background-position: center;
	background-repeat:no-repeat;
}/*中间头部*/
.left{width: 60%;
	padding:20px;
	float: left;
	height: auto;
	margin-top: 20px;
}/*左侧栏*/
.right{background-color:#E4E4E4;
	width:30%;
	padding: 20px;
	float: right;
	margin-top:100px;
}/*右侧栏*/
.right>ul>li>a:link{color:#000000;}      /* 未访问链接*/
.right>ul>li>a:visited {color:#000000;}  /* 已访问链接 */
.right>ul>li>a:hover {color:#FF00FF;}  /* 鼠标移动到链接上 */
.right>ul>li>a:active {color:#0000FF;}  /* 鼠标点击时 */


.individual{clear: both;
	padding:20px;
	width: 97%;
	height:1100px;
}/*个人栏目*/
.individualSummarize{width:60%;
	padding: 20px;
	float: left;
}/*个人左侧*/
.individualPicture{background-color:#E7E7E7;
	width: 32%;
	float:right;
	margin-top: 40px;
}/*个人右侧*/
.img{text-align: center;}/*图片盒子*/
.footer{padding: 20px;
	margin-top: 20px;
}/*中间底部*/
